body{
    font-family: 'Kumbh Sans', sans-serif;
}

.add-value:hover{
    color: #1976d2 ;
}

.covid-icon{
    color: #e53935;
}
.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.profile{
    color: aliceblue;
}

@media screen and (max-width: 720px) {
    body {
      font-size: 0.80rem;
    }
    .btnTable{
        font-size: 0.75rem;
    }
    .navbar-expand {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .navbar-nav{
        font-size: 00.75rem;
    }
    .btnNav{
        font-size: 00.75rem;
    }
  }