body{
    font-family: 'Kumbh Sans', sans-serif;
}

.add-value:hover{
    color: #1976d2 ;
}

.covid-icon{
    color: #e53935;
}
.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.profile{
    color: aliceblue;
}